.ftpButton{
  z-index: 99999;
}

.btn {
  z-index: 99999;
  position: fixed;
  left: 15px;
  bottom: 15px;
  width: 70px;
  height: 70px;
  background: #2ADDA5;
  border-radius: 50%;
  border: none;
  outline: none;
  font-size: 2rem;
  font-weight: 200;
  cursor: pointer;
}




#activeAnimation {
  z-index: 99999;
  margin: 30px;
  bottom: 60px;
  position: fixed;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 380px;
  background-image: url(https://i.pinimg.com/564x/89/62/d5/8962d584e9d4849c00b975c13e24a78c.jpg);
  background-position: center;
  background-size: cover;
  border-radius: 20px;
  animation: slidein 0.6s normal;
  display: flex;
}




@keyframes slidein {
  from {
    border-radius: 100%;
    height: 50px;
    width: 50px;
    margin-bottom: -30px;
    background-image: url(https://i.pinimg.com/564x/89/62/d5/8962d584e9d4849c00b975c13e24a78c.jpg);
  }
  to {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 380px;
    background-image: url(https://i.pinimg.com/564x/89/62/d5/8962d584e9d4849c00b975c13e24a78c.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 20px;
  }
}
#activeAnimationReverse{
  background-image: url(https://i.pinimg.com/564x/89/62/d5/8962d584e9d4849c00b975c13e24a78c.jpg);
  animation: slideinReverse 0.3s normal;
 
}
@keyframes slideinReverse {
  from {
    margin: 30px;
    bottom: 60px;
    position: fixed;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 380px;
    background-image: url(https://i.pinimg.com/564x/89/62/d5/8962d584e9d4849c00b975c13e24a78c.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 20px;
  }
  to {
    height: 0px;
    width: 0px;
    display: none;  
  }
}
#activeAnimationReverse  .iconUser{
  display: none;
}

#activeAnimationReverse  .inputs{
  display: none;
}

#activeAnimationReverse  #buttonLogin{
  display: none;
}
.iconUser {
  display: flex;
  margin-bottom: 30px;
  background: transparent;
}

.iconUser img {
  width: 50px;
  height: 50px;
  background: white;
  border-radius: 50%;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  width: 90%;
  align-items: center;
}

.inputs input {

  width: 80%;
  padding: 10px;
  border-radius: 10px;
  outline: none;
  border: none;
  background: transparent;
  border: 1px solid white;
  color: white;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
}



#buttonLogin {
  margin-top: 60px;
  width: 80%;
  padding: 10px;
  border-radius: 20px;
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
  color: #000000;
  background: white;
  border: none;
  cursor: pointer;

}

#buttonLogin:hover{
  color: white;
  background: #df8a0b;
  transition: 1s;
}

.activeLongerInput{
  animation: alongerInput 0.2s normal;
}

@keyframes alongerInput {
  0%{
    width: 0;
  }
  50%{
    width: 40%;
  }
  100%{
    width: 80%;
  }
}