.left {
  position: relative;
 
  -webkit-animation: slide-in 1s forwards;
  animation: slide-in 1s forwards;
  width: 40vw;
  height: 50vh;
  border-radius: 20px;
  box-shadow: -12px 11px 11px 4px rgba(125,125,125,1);
}
.teste{
  display: none;
}
@-webkit-keyframes slide-in {
  0%{ left: -30em;}
  100% { left: 0 }
}
@keyframes slide-in {
  0%{ left: -30em;}
 100% { left: 0; }
}
.detail{
  display: none;
}

.detailLeft{
  position: relative;
  bottom: -30em;
  -webkit-animation: detailMove 1s forwards;
  animation: detailMove 1s forwards;
  
}


@-webkit-keyframes detailMove {
  0%{display: none;}
  70%{display: block;}
  100% { bottom: 0 }
}
@keyframes detailMove {
  0%{display: none;}
  70%{display: block;}
 100% { bottom: 0; }
}




.detailLeftH3 {
  display: block;
  margin-top: -5rem;
  margin-bottom: 5rem;
  font-size: 5rem;
  font-weight: 900;
  font-family: 'Montserrat', sans-serif;
  color: rgb(8, 175, 153);
}

.detailLeftP {
  width: 50vw;
  font-size: 18px;
  font-weight: 600;
  line-height: 50px;
  word-break: break-word;
  font-family: 'Montserrat', sans-serif;
}













.rigth {
  position: relative;
 
  -webkit-animation: slide-inRigth 1s forwards;
  animation: slide-inRigth 1s forwards;
  width: 40vw;
  height: 50vh;
  border-radius: 20px;
  box-shadow: -12px 11px 11px 4px rgba(125,125,125,1);
}
.teste{
  display: none;
}
@-webkit-keyframes slide-inRigth {
  0%{ right: -30em;}
  100% { left: 0 }
}
@keyframes slide-inRigth {
  0%{ right: -30em;}
 100% { right: 0; }
}
.detail{
  display: none;
}

.detailRigth{
  position: relative;
  bottom: -30em;
  -webkit-animation: detailMoveRigth 1s forwards;
  animation: detailMoveRigth 1s forwards;
  
}


  @-webkit-keyframes detailMoveRigth {
    0%{display: none;}
    70%{display: block;}
    100% { bottom: 0 }
  }
  @keyframes detailMoveRigth {
    0%{display: none;}
    70%{display: block;}
  100% { bottom: 0; }
  }




.detailRigthtH3 {
  display: block;
  margin-top: -5rem;
  margin-bottom: 5rem;
  font-size: 5rem;
  font-weight: 900;
  font-family: 'Montserrat', sans-serif;
  color: rgb(8, 175, 153);
}

.detailRigthtP {
  width: 50vw;
  font-size: 18px;
  font-weight: 600;
  line-height: 50px;
  word-break: break-word;
  font-family: 'Montserrat', sans-serif;
}

.insideCompany{
  height: auto ;
  padding-top: 50px;
  width: 100%;
  background: white;
  display: flex;
}

.containerLeft {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin: 18px;
}




.containerImages {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background: #F5F5F7;
}

.containerImages img {
  width: 40vw;
  height: 50vh;
  border-radius: 20px;
  box-shadow: -12px 11px 11px 4px rgba(125,125,125,1);
  margin-top: 7rem;
}

.secondImage {
  margin-top: -32rem;
}

.secondImage img {
  box-shadow: 15px 11px 11px 4px rgba(125,125,125,1);
}