.insideCompany{
  height: 80vh;
  width: 100%;
  background: white;
  display: flex;
}

.containerLeft {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin: 18px;
}

.containerLeft img {
  width: 40vw;
  height: 50vh;
  border-radius: 20px;
  box-shadow: -12px 11px 11px 4px rgba(125,125,125,1);
}

.detail h3 {
  margin-top: -5rem;
  margin-bottom: 5rem;
  font-size: 5rem;
  font-weight: 900;
  font-family: 'Montserrat', sans-serif;
  color: rgb(8, 175, 153);
}

.detail p {
  width: 50vw;
  font-size: 18px;
  font-weight: 600;
  line-height: 50px;
  word-break: break-word;
  font-family: 'Montserrat', sans-serif;
}

.containerImages {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background: #F5F5F7;
}

.containerImages img {
  width: 40vw;
  height: 50vh;
  border-radius: 20px;
  box-shadow: -12px 11px 11px 4px rgba(125,125,125,1);
  margin-top: 7rem;
}

.secondImage {
  margin-top: -32rem;
}

.secondImage img {
  box-shadow: 15px 11px 11px 4px rgba(125,125,125,1);
}