.body{
    background-color: white;
    height: 75vh;
    width: 100vw;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.moviment{
    animation: moviment 0.6s forwards;
}

@keyframes moviment {
    0%{ font-size: 1px;}
   100% {  }
  }
.body h1{margin: 0; margin-top: 10%;}


.body span{ color: hsla(172, 91%, 36%, 1);}
.body h3{
    font-size: 64px;
    width: 60%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-style: italic;
color:black;
}


.buttons{
    width: 40%;
    display: flex;
    justify-content: space-around;
    gap: 5%;
}

.buttons button{
    height: 40px;
    width: 80%;
    padding: 10px;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    border: none;
    outline: none;
    border-radius: 15px;
    cursor: pointer;
    font-weight: 500;
    color: white;
    background: black;
    transition: 1s;
}
.buttons button:hover{
  color: white;
  background: hsla(172, 91%, 36%, 1);
  transition: 1s;
}

@media screen and (max-width:700px) {
    .body h3{font-size: 40px;} 
    .buttons button{
       display: none;
    }
}