.card{
    width: 20%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: white;
    border-radius: 10px;
}

.img{
    height: 500px;
    width: 80%;
    background-image: url('https://www.standshow.com.br/imagens/uploads/novidades/miniaturas/800_569e0dcbee46b2f44b4c87543699e5ea.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    margin: 2%;
    margin-top: 5%;
    background-size: cover;
    box-shadow:  3px 3px 3px 3px grey;
    border-radius: 2px;
}

.card h2{
    font-family: 'Courier New', Courier, monospace;
}