.App {
  text-align: center;
  align-items: center;
  width: 100vw;
  background: white;
}

.cardsForm{
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap:3%; 
  height: auto;
}

.row{
  display: flex;
  flex-direction: row;
  overflow-y: hidden;
  overflow-x: scroll;
  width: 100vw;
  background: linear-gradient(180deg,#2adda44b 10% , rgb(143, 143, 143)  90%);
  transition: 0.6s;
}
.buttonsSlid{
  margin-top: 5%;
  display: flex;
  width: 100vw;
  justify-content: center;
  align-items: center;
}
.buttonsScroll{
  position: sticky;
  color: white;
  width: 3%;
  height: 86vh;
  border-radius: 0px 10px 10px 0px;
  outline: 0;
  border: none;
  cursor: pointer;
  background:  rgba(13,26,45,1);
  font-size: 2rem;
}
.buttonsScroll:hover{
  background: black;
}

#buttonLeftScroll {
  border-radius: 10px 0px 0px 10px;
}

/* @media screen and (max-width:1000px) {
  .buttonsScroll{
    position: sticky;
    color: white;
    width: 3%;
    height: 86vh;
    border-radius: 0px 10px 10px 0px ;
    outline: 0;
    border: none;
    cursor: pointer;
    background:  rgba(13,26,45,1);
    font-size: 2rem;
  }
} */

@media screen and (max-width:730px) {
  #buttonLeftScroll {
    align-items: center;
    justify-content: center;
    border-radius: 35%;
    margin-top: 46.3rem;
    margin-right: 5rem;
  }

  #buttonRightScroll {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 35%;
    margin-left: 3rem;
    margin-top: 46.3rem;
  }

  .buttonsScroll{
    position: absolute;
    color: white;
    width: 35px;
    height: 20px;
    outline: 0;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    background: linear-gradient(180deg, rgba(150,150,150,1) 44%, rgb(24, 224, 158) 83%);
  }

  .buttonsScroll:hover{
    background: red;
  }
  
}

.card {

  margin-top: 5rem;
  max-width: 100%;
  padding: .75rem;
  margin-bottom: 2rem;
  border: 0;
  flex-grow: 0;
  flex-shrink: 0;
}

.card > img {
  margin-bottom: .75rem;
  width: 100%;
}

.card-text {
  font-size: 85%;
}

.examplearea {
}